html {
    height: 100%;
}

body {
    height: 100%;
    background-color:black;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.header{
    display:flex;
    justify-content:center;
    Color:#D4AF37;
}
#startImg{
    width:500px;
    display:flex;
    justify-content:center;
}
.navbar{
    display:flex;
    justify-content:space-between;
    width:100%;
}